/*
* MIT License
*
* Copyright (c) 2020 Tobias Neumann
*
* Permission is hereby granted, free of charge, to any person obtaining a copy
* of this software and associated documentation files (the "Software"), to deal
* in the Software without restriction, including without limitation the rights
* to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
* copies of the Software, and to permit persons to whom the Software is
* furnished to do so, subject to the following conditions:
*
* The above copyright notice and this permission notice shall be included in all
* copies or substantial portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
* AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
* OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
* SOFTWARE.
*/


/*
Genome digests
*/

params {
  // illumina iGenomes reference file paths
  genomes {
    'GRCh37' {
      fasta       = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa"
      bwa     = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/BWAIndex/genome.fa"
    }
    'GRCh38' {
      fasta       = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
      bwa     = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/BWAIndex/genome.fa"
    }
    'hg18'	{
      fasta			  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg18/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Homo_sapiens/UCSC/hg18/Sequence/BWAIndex/genome.fa"
    }
    'hg19' {
      fasta       = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
      bwa     = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/genome.fa"
    }
    'hg38' {
      fasta       = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa"
      bwa     = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/BWAIndex/genome.fa"
    }
    'hg_build36.3'	{
      fasta			  = "${params.igenomes_base}/Homo_sapiens/NCBI/build36.3/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Homo_sapiens/NCBI/build36.3/Sequence/BWAIndex/genome.fa"
    }
    'hg_build37.1'	{
      fasta			  = "${params.igenomes_base}/Homo_sapiens/NCBI/build37.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Homo_sapiens/NCBI/build37.1/Sequence/BWAIndex/genome.fa"
    }
    'hg_build37.2'	{
      fasta			  = "${params.igenomes_base}/Homo_sapiens/NCBI/build37.2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Homo_sapiens/NCBI/build37.2/Sequence/BWAIndex/genome.fa"
    }
    'GRCh38Decoy'	{
      fasta			  = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38Decoy/Sequence/WholeGenomeFasta"
      bwa			= "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38Decoy/Sequence/BWAIndex/genome.fa"
    }
    'NCBIM37'	{
      fasta			  = "${params.igenomes_base}/Mus_musculus/Ensembl/NCBIM37/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Mus_musculus/Ensembl/NCBIM37/Sequence/BWAIndex/genome.fa"
    }
    'mm_build37.1'	{
      fasta			  = "${params.igenomes_base}/Mus_musculus/NCBI/build37.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Mus_musculus/NCBI/build37.1/Sequence/BWAIndex/genome.fa"
    }
    'mm_build37.2'	{
      fasta			  = "${params.igenomes_base}/Mus_musculus/NCBI/build37.2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Mus_musculus/NCBI/build37.2/Sequence/BWAIndex/genome.fa"
    }
    'GRCm38'	{
      fasta			  = "${params.igenomes_base}/Mus_musculus/NCBI/GRCm38/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Mus_musculus/NCBI/GRCm38/Sequence/BWAIndex/genome.fa"
    }
    'mm10'	{
      fasta			  = "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/BWAIndex/genome.fa"
    }
    'mm9'	{
      fasta			  = "${params.igenomes_base}/Mus_musculus/UCSC/mm9/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Mus_musculus/UCSC/mm9/Sequence/BWAIndex/genome.fa"
    }
    'TAIR10'	{
      fasta			  = "${params.igenomes_base}/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/BWAIndex/genome.fa"
    }
    'TAIR9'	{
      fasta			  = "${params.igenomes_base}/Arabidopsis_thaliana/Ensembl/TAIR9/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Arabidopsis_thaliana/Ensembl/TAIR9/Sequence/BWAIndex/genome.fa"
    }
    'tair_build9.1'	{
      fasta			  = "${params.igenomes_base}/Arabidopsis_thaliana/NCBI/build9.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Arabidopsis_thaliana/NCBI/build9.1/Sequence/BWAIndex/genome.fa"
    }
    'TAIR10'	{
      fasta       = "${params.igenomes_base}/Arabidopsis_thaliana/NCBI/TAIR10/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Arabidopsis_thaliana/NCBI/TAIR10/Sequence/BWAIndex/genome.fa"
    }
    'canFam3'	{
      fasta			  = "${params.igenomes_base}/Canis_familiaris/UCSC/canFam3/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Canis_familiaris/UCSC/canFam3/Sequence/BWAIndex/genome.fa"
    }
    'canFam2'	{
      fasta			  = "${params.igenomes_base}/Canis_familiaris/UCSC/canFam2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Canis_familiaris/UCSC/canFam2/Sequence/BWAIndex/genome.fa"
    }
    'BROADD2'	{
      fasta			  = "${params.igenomes_base}/Canis_familiaris/Ensembl/BROADD2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Canis_familiaris/Ensembl/BROADD2/Sequence/BWAIndex/genome.fa"
    }
    'CanFam3.1'	{
      fasta			  = "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Sequence/BWAIndex/genome.fa"
    }
    'CanFam_build3.1'	{
      fasta			  = "${params.igenomes_base}/Canis_familiaris/NCBI/build3.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Canis_familiaris/NCBI/build3.1/Sequence/BWAIndex/genome.fa"
    }
    'CanFam_build2.1'	{
      fasta			  = "${params.igenomes_base}/Canis_familiaris/NCBI/build2.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Canis_familiaris/NCBI/build2.1/Sequence/BWAIndex/genome.fa"
    }
    '2001-10-15'	{
      fasta			  = "${params.igenomes_base}/Escherichia_coli_K_12_MG1655/NCBI/2001-10-15/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Escherichia_coli_K_12_MG1655/NCBI/2001-10-15/Sequence/BWAIndex/genome.fa"
    }
    'EB1'	{
      fasta			  = "${params.igenomes_base}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/BWAIndex/genome.fa"
    }
    '2008-03-17'	{
      fasta			  = "${params.igenomes_base}/Escherichia_coli_K_12_DH10B/NCBI/2008-03-17/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Escherichia_coli_K_12_DH10B/NCBI/2008-03-17/Sequence/BWAIndex/genome.fa"
    }
    '1993-04-28'	{
      fasta			  = "${params.igenomes_base}/Enterobacteriophage_lambda/NCBI/1993-04-28/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Enterobacteriophage_lambda/NCBI/1993-04-28/Sequence/BWAIndex/genome.fa"
    }
    'Btau_4.0'	{
      fasta			  = "${params.igenomes_base}/Bos_taurus/Ensembl/Btau_4.0/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Bos_taurus/Ensembl/Btau_4.0/Sequence/BWAIndex/genome.fa"
    }
    'bosTau6'	{
      fasta			  = "${params.igenomes_base}/Bos_taurus/UCSC/bosTau6/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Bos_taurus/UCSC/bosTau6/Sequence/BWAIndex/genome.fa"
    }
    'bosTau4'	{
      fasta			  = "${params.igenomes_base}/Bos_taurus/UCSC/bosTau4/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Bos_taurus/UCSC/bosTau4/Sequence/BWAIndex/genome.fa"
    }
    'bosTau7'	{
      fasta			  = "${params.igenomes_base}/Bos_taurus/UCSC/bosTau7/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Bos_taurus/UCSC/bosTau7/Sequence/BWAIndex/genome.fa"
    }
    'bosTau8'	{
      fasta			  = "${params.igenomes_base}/Bos_taurus/UCSC/bosTau8/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Bos_taurus/UCSC/bosTau8/Sequence/BWAIndex/genome.fa"
    }
    'UMD_3.1'	{
      fasta			  = "${params.igenomes_base}/Bos_taurus/NCBI/UMD_3.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Bos_taurus/NCBI/UMD_3.1/Sequence/BWAIndex/genome.fa"
    }
    'Btau_4.2'	{
      fasta			  = "${params.igenomes_base}/Bos_taurus/NCBI/Btau_4.2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Bos_taurus/NCBI/Btau_4.2/Sequence/BWAIndex/genome.fa"
    }
    'Btau_4.6.1'	{
      fasta			  = "${params.igenomes_base}/Bos_taurus/NCBI/Btau_4.6.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Bos_taurus/NCBI/Btau_4.6.1/Sequence/BWAIndex/genome.fa"
    }
    'UMD_3.1.1'	{
      fasta			  = "${params.igenomes_base}/Bos_taurus/NCBI/UMD_3.1.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa                       = "${params.igenomes_base}/Bos_taurus/NCBI/UMD_3.1.1/Sequence/BWAIndex/genome.fa"
    }
    '2004-02-13'	{
      fasta			  = "${params.igenomes_base}/Bacillus_cereus_ATCC_10987/NCBI/2004-02-13/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Bacillus_cereus_ATCC_10987/NCBI/2004-02-13/Sequence/BWAIndex/genome.fa"
    }
    'Zv9'	{
      fasta			  = "${params.igenomes_base}/Danio_rerio/Ensembl/Zv9/Sequence/WholeGenomeFasta/genome.fa"
      bwa                       = "${params.igenomes_base}/Danio_rerio/Ensembl/Zv9/Sequence/BWAIndex/genome.fa"
    }
    'danRer7'	{
      fasta			  = "${params.igenomes_base}/Danio_rerio/UCSC/danRer7/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Danio_rerio/UCSC/danRer7/Sequence/BWAIndex/genome.fa"
    }
    'danRer10'	{
      fasta			  = "${params.igenomes_base}/Danio_rerio/UCSC/danRer10/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Danio_rerio/UCSC/danRer10/Sequence/BWAIndex/genome.fa"
    }
    'Zv9'	{
      fasta			  = "${params.igenomes_base}/Danio_rerio/NCBI/Zv9/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Danio_rerio/NCBI/Zv9/Sequence/BWAIndex/genome.fa"
    }
    'GRCz10'	{
      fasta		    = "${params.igenomes_base}/Danio_rerio/NCBI/GRCz10/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Danio_rerio/NCBI/GRCz10/Sequence/BWAIndex/genome.fa"
    }
    'Mmul_1'	{
      fasta			  = "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Sequence/BWAIndex/genome.fa"
    }
    'EquCab2'	{
      fasta			  = "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Sequence/BWAIndex/genome.fa"
    }
    'EquCab2.0'	{
      fasta			  = "${params.igenomes_base}/Equus_caballus/NCBI/EquCab2.0/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Equus_caballus/NCBI/EquCab2.0/Sequence/BWAIndex/genome.fa"
    }
    'equCab2'	{
      fasta			  = "${params.igenomes_base}/Equus_caballus/UCSC/equCab2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Equus_caballus/UCSC/equCab2/Sequence/BWAIndex/genome.fa"
    }
    'Gm01'	{
      fasta			  = "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Sequence/BWAIndex/genome.fa"
    }
    'BDGP5'	{
      fasta			  = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP5/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP5/Sequence/BWAIndex/genome.fa"
    }
    'BDGP5.25'	{
      fasta			  = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP5.25/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP5.25/Sequence/BWAIndex/genome.fa"
    }
    'BDGP6'	{
      fasta			  = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/BWAIndex/genome.fa"
    }
    'dm3'	{
      fasta			  = "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm3/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm3/Sequence/BWAIndex/genome.fa"
    }
    'dm6'	{
      fasta			  = "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Sequence/BWAIndex/genome.fa"
    }
    'dm_build5.3'	{
      fasta			  = "${params.igenomes_base}/Drosophila_melanogaster/NCBI/build5.3/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Drosophila_melanogaster/NCBI/build5.3/Sequence/BWAIndex/genome.fa"
    }
    'dm_build5'	{
      fasta			  = "${params.igenomes_base}/Drosophila_melanogaster/NCBI/build5/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Drosophila_melanogaster/NCBI/build5/Sequence/BWAIndex/genome.fa"
    }
    'dm_build5.41'	{
      fasta			  = "${params.igenomes_base}/Drosophila_melanogaster/NCBI/build5.41/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Drosophila_melanogaster/NCBI/build5.41/Sequence/BWAIndex/genome.fa"
    }
    'dm_build4.1'	{
      fasta			  = "${params.igenomes_base}/Drosophila_melanogaster/NCBI/build4.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Drosophila_melanogaster/NCBI/build4.1/Sequence/BWAIndex/genome.fa"
    }
    'WASHUC2'	{
      fasta			  = "${params.igenomes_base}/Gallus_gallus/Ensembl/WASHUC2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Gallus_gallus/Ensembl/WASHUC2/Sequence/BWAIndex/genome.fa"
    }
    'Galgal4'	{
      fasta			  = "${params.igenomes_base}/Gallus_gallus/Ensembl/Galgal4/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Gallus_gallus/Ensembl/Galgal4/Sequence/BWAIndex/genome.fa"
    }
    'Galgal_build2.1'	{
      fasta			  = "${params.igenomes_base}/Gallus_gallus/NCBI/build2.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Gallus_gallus/NCBI/build2.1/Sequence/BWAIndex/genome.fa"
    }
    'Galgal_build3.1'	{
      fasta			  = "${params.igenomes_base}/Gallus_gallus/NCBI/build3.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Gallus_gallus/NCBI/build3.1/Sequence/BWAIndex/genome.fa"
    }
    'galGal3'	{
      fasta			  = "${params.igenomes_base}/Gallus_gallus/UCSC/galGal3/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Gallus_gallus/UCSC/galGal3/Sequence/BWAIndex/genome.fa"
    }
    'galGal4'	{
      fasta			  = "${params.igenomes_base}/Gallus_gallus/UCSC/galGal4/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Gallus_gallus/UCSC/galGal4/Sequence/BWAIndex/genome.fa"
    }
    'EB2'	{
      fasta			  = "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Sequence/BWAIndex/genome.fa"
    }
    'WS190'	{
      fasta			  = "${params.igenomes_base}/Caenorhabditis_elegans/NCBI/WS190/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Caenorhabditis_elegans/NCBI/WS190/Sequence/BWAIndex/genome.fa"
    }
    'WS195'	{
      fasta			  = "${params.igenomes_base}/Caenorhabditis_elegans/NCBI/WS195/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Caenorhabditis_elegans/NCBI/WS195/Sequence/BWAIndex/genome.fa"
    }
    'ce10'	{
      fasta			  = "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Sequence/BWAIndex/genome.fa"
    }
    'ce6'	{
      fasta			  = "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce6/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce6/Sequence/BWAIndex/genome.fa"
    }
    'WS220'	{
      fasta			  = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WS220/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WS220/Sequence/BWAIndex/genome.fa"
    }
    'WS210'	{
      fasta			  = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WS210/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WS210/Sequence/BWAIndex/genome.fa"
    }
    'WBcel215'	{
      fasta			  = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel215/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel215/Sequence/BWAIndex/genome.fa"
    }
    'WBcel235'	{
      fasta			  = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/BWAIndex/genome.fa"
    }
    '2001-09-07'	{
      fasta			  = "${params.igenomes_base}/Mycobacterium_tuberculosis_H37RV/NCBI/2001-09-07/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Mycobacterium_tuberculosis_H37RV/NCBI/2001-09-07/Sequence/BWAIndex/genome.fa"
    }
    'H37Rv.EB1'	{
      fasta			  = "${params.igenomes_base}/Mycobacterium_tuberculosis_H37RV/Ensembl/H37Rv.EB1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Mycobacterium_tuberculosis_H37RV/Ensembl/H37Rv.EB1/Sequence/BWAIndex/genome.fa"
    }
    'MSU6'	{
      fasta			  = "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/MSU6/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/MSU6/Sequence/BWAIndex/genome.fa"
    }
    'IRGSP-1.0'	{
      fasta			  = "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/BWAIndex/genome.fa"
    }
    'CHIMP2.1.4'	{
      fasta			  = "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/BWAIndex/genome.fa"
    }
    'CHIMP2.1'	{
      fasta			  = "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1/Sequence/BWAIndex/genome.fa"
    }
    'panTro_build2.1'	{
      fasta			  = "${params.igenomes_base}/Pan_troglodytes/NCBI/build2.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Pan_troglodytes/NCBI/build2.1/Sequence/BWAIndex/genome.fa"
    }
    'panTro_build3.1'	{
      fasta			  = "${params.igenomes_base}/Pan_troglodytes/NCBI/build3.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Pan_troglodytes/NCBI/build3.1/Sequence/BWAIndex/genome.fa"
    }
    'panTro2'	{
      fasta			  = "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro2/Sequence/BWAIndex/genome.fa"
    }
    'panTro3'	{
      fasta			  = "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro3/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro3/Sequence/BWAIndex/genome.fa"
    }
    'panTro4'	{
      fasta			  = "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro4/Sequence/WholeGenomeFasta/genome.fa"
      bwa                       = "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro4/Sequence/BWAIndex/genome.fa"
    }
    '1993-04-28'	{
      fasta			  = "${params.igenomes_base}/PhiX/NCBI/1993-04-28/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/PhiX/NCBI/1993-04-28/Sequence/BWAIndex/genome.fa"
    }
    'RTA'	{
      fasta			  = "${params.igenomes_base}/PhiX/Illumina/RTA/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/PhiX/Illumina/RTA/Sequence/BWAIndex/genome.fa"
    }
    '2000-09-13'	{
      fasta			  = "${params.igenomes_base}/Pseudomonas_aeruginosa_PAO1/NCBI/2000-09-13/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Pseudomonas_aeruginosa_PAO1/NCBI/2000-09-13/Sequence/BWAIndex/genome.fa"
    }
    'rn5'	{
      fasta			  = "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn5/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn5/Sequence/BWAIndex/genome.fa"
    }
    'rn4'	{
      fasta			  = "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn4/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn4/Sequence/BWAIndex/genome.fa"
    }
    'rn6'	{
      fasta			  = "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn6/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn6/Sequence/BWAIndex/genome.fa"
    }
    'RGSC3.4'	{
      fasta			  = "${params.igenomes_base}/Rattus_norvegicus/Ensembl/RGSC3.4/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Rattus_norvegicus/Ensembl/RGSC3.4/Sequence/BWAIndex/genome.fa"
    }
    'Rnor_5.0'	{
      fasta			  = "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_5.0/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_5.0/Sequence/BWAIndex/genome.fa"
    }
    'Rnor_6.0'	{
      fasta			  = "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/BWAIndex/genome.fa"
    }
    'RGSC_v3.4'	{
      fasta			  = "${params.igenomes_base}/Rattus_norvegicus/NCBI/RGSC_v3.4/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Rattus_norvegicus/NCBI/RGSC_v3.4/Sequence/BWAIndex/genome.fa"
    }
    'Rnor_5.0'	{
      fasta			  = "${params.igenomes_base}/Rattus_norvegicus/NCBI/Rnor_5.0/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Rattus_norvegicus/NCBI/Rnor_5.0/Sequence/BWAIndex/genome.fa"
    }
    'Rnor_6.0'	{
      fasta			  = "${params.igenomes_base}/Rattus_norvegicus/NCBI/Rnor_6.0/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Rattus_norvegicus/NCBI/Rnor_6.0/Sequence/BWAIndex/genome.fa"
    }
    '2005-10-07'	{
      fasta			  = "${params.igenomes_base}/Rhodobacter_sphaeroides_2.4.1/NCBI/2005-10-07/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Rhodobacter_sphaeroides_2.4.1/NCBI/2005-10-07/Sequence/BWAIndex/genome.fa"
    }
    'sacCer_build3.1'	{
      fasta			  = "${params.igenomes_base}/Saccharomyces_cerevisiae/NCBI/build3.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Saccharomyces_cerevisiae/NCBI/build3.1/Sequence/BWAIndex/genome.fa"
    }
    'sacCer_build2.1'	{
      fasta			  = "${params.igenomes_base}/Saccharomyces_cerevisiae/NCBI/build2.1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Saccharomyces_cerevisiae/NCBI/build2.1/Sequence/BWAIndex/genome.fa"
    }
    'sacCer3'	{
      fasta			  = "${params.igenomes_base}/Saccharomyces_cerevisiae/UCSC/sacCer3/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Saccharomyces_cerevisiae/UCSC/sacCer3/Sequence/BWAIndex/genome.fa"
    }
    'sacCer2'	{
      fasta			  = "${params.igenomes_base}/Saccharomyces_cerevisiae/UCSC/sacCer2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Saccharomyces_cerevisiae/UCSC/sacCer2/Sequence/BWAIndex/genome.fa"
    }
    'sacCer_EF2'	{
      fasta			  = "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/EF2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/EF2/Sequence/BWAIndex/genome.fa"
    }
    'sacCer_EF3'	{
      fasta			  = "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/EF3/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/EF3/Sequence/BWAIndex/genome.fa"
    }
    'sacCer_EF4'	{
      fasta			  = "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/EF4/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/EF4/Sequence/BWAIndex/genome.fa"
    }
    'R64-1-1'	{
      fasta			  = "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/BWAIndex/genome.fa"
    }
    'SsacCer_EF1'	{
      fasta			  = "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF1/Sequence/BWAIndex/genome.fa"
    }
    'SsacCer_EF2'	{
      fasta			  = "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/BWAIndex/genome.fa"
    }
    '2007-11-27'	{
      fasta			  = "${params.igenomes_base}/Sorangium_cellulosum_So_ce_56/NCBI/2007-11-27/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Sorangium_cellulosum_So_ce_56/NCBI/2007-11-27/Sequence/BWAIndex/genome.fa"
    }
    'Sbi1'	{
      fasta			  = "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Sequence/BWAIndex/genome.fa"
    }
    '2006-02-13'	{
      fasta			  = "${params.igenomes_base}/Staphylococcus_aureus_NCTC_8325/NCBI/2006-02-13/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Staphylococcus_aureus_NCTC_8325/NCBI/2006-02-13/Sequence/BWAIndex/genome.fa"
    }
    'susScr3'	{
      fasta			  = "${params.igenomes_base}/Sus_scrofa/UCSC/susScr3/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Sus_scrofa/UCSC/susScr3/Sequence/BWAIndex/genome.fa"
    }
    'susScr2'	{
      fasta			  = "${params.igenomes_base}/Sus_scrofa/UCSC/susScr2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Sus_scrofa/UCSC/susScr2/Sequence/BWAIndex/genome.fa"
    }
    'Sscrofa9.2'	{
      fasta			  = "${params.igenomes_base}/Sus_scrofa/NCBI/Sscrofa9.2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Sus_scrofa/NCBI/Sscrofa9.2/Sequence/BWAIndex/genome.fa"
    }
    'Sscrofa10.2'	{
      fasta			  = "${params.igenomes_base}/Sus_scrofa/NCBI/Sscrofa10.2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Sus_scrofa/NCBI/Sscrofa10.2/Sequence/BWAIndex/genome.fa"
    }
    'Sscrofa10'	{
      fasta			  = "${params.igenomes_base}/Sus_scrofa/NCBI/Sscrofa10/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Sus_scrofa/NCBI/Sscrofa10/Sequence/BWAIndex/genome.fa"
    }
    'Sscrofa9'	{
      fasta			  = "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa9/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa9/Sequence/BWAIndex/genome.fa"
    }
    'AGPv2'	{
      fasta			  = "${params.igenomes_base}/Zea_mays/Ensembl/AGPv2/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Zea_mays/Ensembl/AGPv2/Sequence/BWAIndex/genome.fa"
    }
    'AGPv3'	{
      fasta			  = "${params.igenomes_base}/Zea_mays/Ensembl/AGPv3/Sequence/WholeGenomeFasta/genome.fa"
      bwa			= "${params.igenomes_base}/Zea_mays/Ensembl/AGPv3/Sequence/BWAIndex/genome.fa"
    }
  }
}
